* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*main*/

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bg2.jpg) top center / cover no-repeat;
    height: 732px;
}

.container-section {
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
}

.title {
    color: #3498db;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
  
button {
    width: 200px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: none;
    cursor: pointer;
    margin: 0 60px;
}
