<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="./../static/assets/css/details.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/assets/img/Rhodes_Island_icon.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Drowsiness</span>
                    <span class="profession">Detection</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="javascript:void(0);" onclick="document.location='/home'">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="javascript:void(0);" onclick="document.location='/details'">
                            <i class='bx bx-info-circle icon' ></i>
                            <span class="text nav-text">Details</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="javascript:void(0);" onclick="document.location='/Video_Image'">
                            <i class='bx bx-image-add icon' ></i>
                            <span class="text nav-text">Upload</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="javascript:void(0);" onclick="document.location='/Webcam'">
                            <i class='bx bxs-webcam icon' ></i>
                            <span class="text nav-text">Webcam</span>
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="javascript:void(0);" onclick="document.location='/logout'">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>

                    <span class="mode-text text">Dark Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
            
        </div>
    </nav>

    <section class="home">
        <div class="container">
            <section class="main">
              <div class="main-top">
                <h1>Dataset</h1>
              </div>

              <div class="main-skills">
                <div class="card dataset1">
                  <h3>Drowsiness dataset</h3>
                  <p>By ndthien150</p>
                  <button><a href="https://universe.roboflow.com/ndthien150-gmail-com/drowsiness-dataset">More</a></button>
                </div>

                <div class="card dataset2">
                  <h3>Drowsiness detection</h3>
                  <p>By wadevision</p>
                  <button><a href="https://universe.roboflow.com/wadevision/drowsiness-detection-2pe3a">More</a></button>
                </div>

                <div class="card dataset3">
                  <h3>Dữ liệu của nhóm chuẩn bị </h3>
                  <p>By our group</p>
                  <button><a href="https://drive.google.com/drive/u/6/folders/1HZ0lzYAEK2MPBNgrPpPUJM6WLEJMdPQF">More</a></button>
                </div>
              </div>

              <section class="main-course">
                <h1>Model</h1>
                <div class="course-box">
                    <div class="course">
                        <div class="box">
                            <span class="image">
                                <img src="/static/assets/img/yolov8-icon.png" alt="logo">
                            </span>
                            <h3>YOLOv8</h3>
                            <p>Ultralytics</p>
                            <button><a href="https://docs.ultralytics.com/">More</a></button>
                        </div>
                        <div class="box box1">
                            
                        </div>
                    </div>
                </div>
              </section>

              <section class="main-course">
                <h1>Framework</h1>
                <div class="course-box">
                    <div class="course">
                        <div class="box">
                            <span class="image flask-icon">
                                <img src="/static/assets/img/flask-bg.png" alt="logo">
                            </span>
                            <h3>YOLOv8</h3>
                            <p>Ultralytics</p>
                            <button><a href="https://flask.palletsprojects.com/en/3.0.x/">More</a></button>
                        </div>
                        <div class="box box2">
                            
                        </div>
                    </div>
                </div>
              </section>

              <section class="main-course">
                <h1>Evaluation</h1>
                <div class="course-box">
                    <div class="course">
                        <div class="box">
                            <span class="evaluation-icon">
                                <img src="/static/assets/img/Evaluation1.png" alt="logo">
                            </span>
                        </div>
                        <div class="box box3">
                            
                        </div>
                    </div>
                </div>
              </section>
            </section>
          </div>
    </section>

    <script src="../static/assets/js/script.js"></script>
</body>
</html>