<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
      <title>Drowsiness</title>
      <link rel="icon" type="image/x-icon" href="../static/assets/img/Rhodes_Island_icon.png">
      <link rel="stylesheet" href="../static/assets/css/home.css">
      <link rel="stylesheet" href="../static/assets/fonts/themify-icons/themify-icons.css">
  </head>

  <body>
      <div id="container">
        <div class="title">
          <h1>DROWSINESS DETECTION</h1>
        </div>

        <div class="container-section">
          <button onclick="document.location='/Video_Image'">Video</button>
          <button onclick="document.location='/Webcam'">Webcam</button>
        </div>
      </div>
  </body>
</html>






