<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/assets/css/login.css">
</head>
                    
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="" autocomplete="off">
                    <h2>Login</h2>
                    {{ form.hidden_tag() }}

                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.username }}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.password }}
                    </div>
                    <button class="form-group">
                        Log in
                    </button>
                    <div class="register">
                        <p>Don't have a account ? <a href="{{ url_for('register') }}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>