<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drowsiness</title>
  <link rel="icon" type="image/x-icon" href="../static/assets/img/Rhodes_Island_icon.png">
  <link rel="stylesheet" href="../static/assets/css/welcome.css">
</head>

<body>
  <header>
    <section  class="h-text">
        <span>Computer Vision</span>
        <h1>Drowsiness Detection</h1>
        <br>
        <a href="{{ url_for('login') }}">Visit now</a><br>
    </section>
  </header>
</body>
</html>








